.loader {
    width: 200px;
    height: 200px;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #4596d5;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}