.header {
  padding: 1rem;
  height: 10svh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  composes: primaryBg from "../../App.module.css";
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.logo {
  font-style: italic;
  font-weight: bold;
}

.links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

li .link {
  padding: .2rem 0;
}

li .link:hover,
li .link.active {
  border-bottom: 2px solid #ffffff;
}

.checkout {
  position: relative;
}

.checkout div {
  position: absolute;
  bottom: 0;
  left: -5px;
  width: 20px;
  height: 20px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}
