.header {
    height: 10svh;
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.link {
    text-decoration: none;
    color: rgb(7, 104, 31);
}

.active {
    color: black;
}